/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #fff;
}
::selection{
  color: #d8ebff;
  background: #0f62fe;
}
.wrapper{
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #d8ebff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.add-box, .icon, .bottom-content, 
.popup, header, .settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: #0f62fe;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed #0f62fe;
}
.add-box p{
  color: #0f62fe;
  font-weight: 500;
  margin-top: 20px;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 500;
}
.note span{
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: #6D6D6D;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #d8ebff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.settings.show .menu{
  transform: scale(1);
}
.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.popup-box .popup{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}
.popup-box, .popup{
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
  opacity: 1;
  pointer-events: auto;
}
.popup-box.show .popup{
  transform: translate(-50%, -50%) scale(1);
}
.popup .content{
  border-radius: 5px;
  background: #d8ebff;
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.content header{
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.content header p{
  font-size: 20px;
  font-weight: 500;
}
.content header i{
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.content form{
  margin: 15px 25px 35px;
}
.content form .row{
  margin-bottom: 20px;
}
form .row label{
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
form :where(input, textarea){
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
form :where(input, textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
form .row textarea{
  height: 150px;
  resize: none;
  padding: 8px 15px;
}
form input{
  margin: 20px 0;
}
form button{
  width: 100%;
  height: 50px;
  color: #d8ebff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #0f62fe;
  margin-top: 20px;
}

@media (max-width: 660px){
  .wrapper{
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup{
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i{
    font-size: 17px;
  }
}
/* My edits */

h1{
  padding-top: 20px;
  margin-top: 20px;
  color: #0f62fe;
}
.search{
  position: relative;
}
.search input{
  align-items: center;
  width: 100%;
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 20px;
  border: 5px solid #d8ebff ;
  padding-right: 30px; /* Add space for the icon */
}
.search i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #0f62fe;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth !important;
}
body {
  font-family: "Cairo", sans-serif !important;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-logo{
  display: flex;
  align-items: center;
}
.header .main-logo img{
  width: 30%;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .header .main-logo img {
    width: 100%;
    height: 50px;
  }
}

.header .main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 7px;
  transition: var(--main-transition);
}
/* دى المفروض تتشال */
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 23px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}

 /* Start new nav */

.main-nav li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Dropdown styles */
.dropdown-content {
  width: 35%;
  height: 420px;
  display: none; /* Hide the dropdown menu by default */
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.dropdown-content .dropdown-header h4 {
  font-weight: bold;
  padding: 12px 16px;
  font-size: 25px ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f62fe;
}

.dropdown-content .dropdown-header img {
  width: 30%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  padding: 5px;
}


.main-nav li:hover .dropdown-content {
  display: block; /* Show the dropdown menu on hover */
}

body {
  color: #333; /* Default light mode text color */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
  background-color: #333; /* Dark mode background color */
  color: #f5f5f5; /* Dark mode text color */
}
.dark-mode-toggle {
  
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.3s;
}

.dark-mode .header{
  background-color: #333;
  box-shadow: 3px 3px 3px #14181e,
  -3px -3px 3px #2a2f37;
}


.dark-mode .main-nav li a{
  color: #fff;
  /* background-color: #222; */
  /* مش شغاله شوفى ايه الصح و اظبطيه */
}
.dark-mode .main-nav a:hover{
  color: #0f62fe;
  /* مش شغاله شوفى ايه الصح و اظبطيه */
}

.dark-mode .dropdown-content{
  background-color: #333;
  color: #fff;
}

/* Start Footer section */
.footer {
  background-color: #11245a;
  color: white;
  margin-top: 15px;
  padding-top: 15px;
}

.footer .container {
  padding: 20px;
}

.footer-data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
}
.footer-section{
  padding: 10px;
  margin-left: 10px;
  width: calc((100% - 50px)/4);
}
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: #007bff;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
}
.footer {
  background-color: #11245a;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .container {
  padding-left: 15px;
  padding-right: 15px;
}

.footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer .fa {
  margin-right: 0.75rem;
}

.footer-media .btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}

.footer-media .btn-social:hover {
  color: #007bff;
}
.copyrights{
 text-align: center;
}
 .footer hr{
   width: 100%;
 }
 .footer-btn{
  background-color: #0f62fe;
  border-radius: 5px;
  border: transparent;
  color: #eee;
  padding: 5px 10px;
  margin: 5px 10px;
 }
 .footer-btn:hover{
  background-color: #51a9ff;
 }
 .footer span{
   font-weight: bold;
 }

 .footer .f-logo{
  display: flex;
  align-items: center;
}
.footer .f-logo a{
  font-size: 40px;
  font-weight: bold;
}
.footer .f-logo img{
  width: 30%;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .logo {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .footer .f-logo img {
    width: 100%;
    height: 50px;
  }
}
.footer .copyrights span{
  color: #0f62fe;
}

.footer .footer-section a{
  margin: 8px;
}
.footer .footer-section h5{
  margin: 8px;
}
.footer .footer-section input{
  /* margin: 8px; */
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.footer .copyrights p {
 margin: 8px;
}